<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <ul>
                <li> <a href="{% url 'home' %}">Home</a></ul>
                <li> <a href="{% url 'create_receipt' %}">Create Receipt</a></ul>
                <li> <a href="{% url 'category_list' %}">Categories</a></ul>
                <li> <a href="{% url 'create_category' %}">Create a Category</a></ul>
                <li> <a href="{% url 'account_list' %}">Accounts</a></ul>
                <li> <a href="{% url 'create_account' %}">Create an Account</a></ul>
                <li> <a href="{% url 'logout' %}">Logout</a></ul>
        {% else %}
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        {% endif %}
    </nav>
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button>Signup</button>
            </form>
        </div>
    </main>
</body>
</html>
